/* Garante que o container ocupe a tela toda */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--bg-navbar);
  color: var(--color-text-main);

  height: 118px;
  padding: 10px 390px;
  gap: 20px;
  
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.settings {
  cursor: pointer;
}


