@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --bg-page: #E6CCB2;
  --bg-card: #B08968;
  --bg-navbar: #B08968;
  --bg-btn: #DDB892;
  --color-text-main: #FFFFF;
  --primary-font: "Borel", cursive;
}

body {
  background-color: var(--bg-page);
  margin: 0;
  font-family: var(--primary-font);
  height: 100vh;
}
